/*reset*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
	background: url(../img/banner.jpg) no-repeat center;
	background-size:cover ;
	background-attachment: fixed; 
	/*
	 * background-attachment 取值
	 * scrool:默认值，背景随页面滚动而移动，即背景和内容绑定。
	 * fixed：背景图相对于视口固定，所以随页面滚动背景不动，相当于背景被设置在了body上。
	 * local：背景图相对于元素内容固定，
	 * 
	 * */
}

/*warpper*/
article.warpper{
	margin-top: 3%;
}

article.warpper header h1{
	font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
}

article.warpper article{
	width: 33%;
	background-color: rgba(8,67,86,0.5);
}
